body {
  font-family: sans-serif;
  background: #181818;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p {
  color: #fff;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #fff;
}

header,
header > * {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header {
  background: rgba(33, 33, 33, 0.98);
  height: 56px;
  padding: 0 16px;
}

#burger {
  margin: 0 24px 0 0;
}

#logo {
  margin: 0 23px 0 0;
}

#center {
  flex: 0 1 728px;
}

#search_bar {
  background: hsl(0, 0%, 7%);;
  margin: 0 0 0 40px;
  padding: 0 4px;
  height: 30px;
  flex: 1;
  flex-basis: 1e-9px;
  border: 1px solid hsla(0, 0%, 53.3%, 0.4);
  border-right: none;
  outline: none;
  color: #fff;
}

input {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin-left: 4px;
}

#search_logo {
  background: hsl(0, 0%, 18.82%);
  width: 65px;
  border: 1px solid hsl(0, 0%, 18.82%);
  height: 32px;
  border-radius: none;
}

#end {
  margin: 0 0 0 9px;
}
#end > button{
  margin: 0 10px 0 8px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* main body */

#main_body {
  padding: 1.5em 1.5em;
}

.column {
  float: left;
  margin: 0 0.5em;
}

/* video section */

#content {
  width: 62%;
}

iframe {
  width: 100%;
  height: 100%;
}

#video {
  height: 430px;
}

#video_title {
  margin: 1em 0;
}

#video_title > *,
.interactions > * {
  margin: 0;
}

#video_title > h6 {
  color: rgb(0, 119, 255);
  font-weight: 500;
}

#video_title > h3 {
  color: #fff;
  font-weight: 500;
}

#video_interactions {
  margin: 0.5em 0;
  padding-bottom: .5em;
  display: flex;
  justify-content: space-between;
  border-bottom: 1.5px solid hsl(0, 0%, 18.82%);
}

#interactions_left,
#interactions_right {
  color: #aaa;
  font-weight: 500;
}

#interactions_right{
  display: flex;
  align-items: center;
}

#interactions_right > button {
  padding-left: 1.5em;
}
#interactions_right > h5 {
  cursor: pointer;
}

#video_descriptions {
  margin: 1em 0;
  border-bottom: 1.5px solid hsl(0, 0%, 18.82%);
}

#profile {
  display: flex;
  align-items: center;

}
#profile > * {
  display: inline-block;
  margin-right: 1em;
  color: #aaa;
}

#des_topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#des_topbar > button {
  background: red;
  height: 36px;
  color: #fff;
  font-weight: 600;
  padding: 10px 15px;
}

.profile_pic > img {
  height: 40px;
  border-radius: 50%;
}

#description {
  margin: 1em 0 1em 3.5em;
  padding-right: 110px;
}

#description > h5 {
  color: #aaa;
  cursor: pointer;
}

#video_comments > * {
  margin: 1.5em 0;
}

#comment_topbar > p{
  font-size: medium;
}

#add_comment {
  display: flex;
  align-items: center;
  width: auto;
}

#user_comment {
  flex: 1;
  margin-left: 1em;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid hsl(0, 0%, 18.82%);
  color: #aaa;
  outline: none;
}

.one_comment {
  display: flex;
  margin: 1em 0;
}

#comment_info {
  margin: 0 1em;
  color: #fff;
}

#comment_info > * {
  margin: .5em 0;
}

#comment_info span {
  color: #aaa;
  font-weight: 300;
}

#comment_interaction > * {
  display: inline-block;
}

#comment_interaction > p,
#comment_interaction {
color: #aaa;
font-weight: 300;
}

#comment_interaction img {
  height: 14px;
}


/* featured section */

#featured {
  width: 37%;
}